.toggle_btn {
    background-color: black;
}

.help_btn {
    background-color: black;
}

.th_btn {
    margin: 1em;
}

.th_btn_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}