
.calibration_widget {
   /* margin: 10px; */
   padding: 20px;
   border-radius: 5px;
   height: 120px;
   width: 1530px;
}

.calibration_input {
   width: 75px;
}

.calib_control_horizontal {
   margin-top: 10px;
   height: fit-content;
   width: 1000px;
}

.calib_control_vertical {
   justify-content: center;
   width: 100px;
   height: 800px;
}

.inputDiv {
   margin: 10px;
   height: 37px;
   display: flex;
}